repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: check-ast
      - id: check-case-conflict
      - id: check-yaml
      - id: check-docstring-first

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        exclude: ^scripts/

  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: uv run autoflake --in-place --remove-all-unused-imports --remove-unused-variables
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: uv run isort --profile black
        language: system
        types: [python]
